:root {
  --font-main-family: SF Pro Display;
  --font-secondary-family: Helvetica;
  --font-third-family: Roboto;
  --font-forth-family: SF Pro Text;

  --font-main-size-smaller: 10px;
  --font-main-size-small: 12px;
  --font-main-size-normal: 14px;
  --font-main-size-large: 16px;
  --font-main-size-larger: 18px;

  --line-height-main-smaller: 11px;
  --line-height-main-smaller-plus: 12px;
  --line-height-main-small: 14px;
  --line-height-main-normal: 17px;
  --line-height-main-large: 18px;
  --line-height-main-larger: 19px;
  --line-height-main-x-large: 21px;
  --line-height-main-xx-large: 24px;
  --line-height-main-xxx-large: 28px;

  --color-main-text: #000000;
  --color-main-background: #eeeeee;
  --color-main-table-border: rgba(211, 211, 211, .29);
  --color-work-area-background: #ffffff;
  --color-bar-background: #000000;
  --color-tabs-container-background: #eeeeee;
  --color-tab-text: #000000;
  --color-tab-background: #eeeeee;
  --color-selected-tab-text: #000000;
  --color-selected-tab-background: #ffffff;
  --color-divider: #ffffff;
  --color-divider-inverse: #eeeeee;
  --color-selection-main: #ffffff;
  --color-selection-main-background: #33bbfc;
  --color-action-button: #ffffff;
  --color-action-button-background: #000000;
  --color-buttons-main: #ffffff;
  --color-buttons-main-background: #000000;
}

